<a href="https://colab.research.google.com/github/Daniel-de-Jesus/Curso-Python-para-Data-Science-e-Machine-Learning/blob/main/Pandas_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrame é o elemeto mais importante dos Pandas e são diretamente inspirados pela linguagem de programação R. Podemos pensar em um DataFrame como um monte de objetos da série juntos para compartilhar o mesmo índice. Vamos usar Pandas para explorar esse tópico!



---



Vamos seguir a seguinte estrutura:

*   Criação de um DataFrame, entradas e atributos.
*   Seleção e indexação.
    *   Seleção condicional.
    Máscaras, sentenças lógicas como argumentos de seleção.
*   Detalhes do uso de índices.
*   Hierarquia de índices e índeces múltiplos, muiltiníveis.

---

##Criação de um DataFrame, entradas e atributos.

In [33]:
#CABECALHO E DEFINICOES INICIAIS


# DataFrame e um objeto da biblioteca Pandas

import pandas as pd
import numpy as np

#Neste notebook será utilizado uma matriz de valores aleatorios
#eles serao gerados pelo objeto rando da biblioteca numpy
# e sua semente necessita ser inicializada com o comando seed


from numpy.random import randn
np.random.seed(101)

#criando um DataFrame
#uma matriz 5x4
#cujas linhas sao os termos de 'A B C D'.split()
#cujas colunas sao os termos de 'W X Y Z'.split()
#(onde de forma esperta se usou o objeto split de strings)


df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Seleção e indexação

Vamos aprender os vários métodos para pegar dados de um DataFrame

In [7]:
#vamos passar o nome de uma coluna como argumento entre chaves para seleciona-la

df['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [8]:
# Passando uma lista com nomes das colunas
#teremos como resultado um DataFrame das duas colunas

df[['W','Z']]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652

As colunas dos DataFrames são Series
⚛

In [9]:
type(df['W'])

pandas.core.series.Series

** Criando uma coluna: **

    Basta se associar valores à coluna, como se estivessemos alterando os valores lá estocados.

In [12]:
#A coluna new nao existe no DataFrame e sera criada com a asssicacao direta de valores
#nao e necessario o uso de argumentos como inplace

df['new'] = df['W'] + df['Y']

In [13]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

** Removendo colunas **

    O uso do comando drop
    DataFrame.drop('NomeColuna',axis= (0 ou 1))
    quando axis= 0 ---> retira uma linha
    quando axis= 1 ---> retira uma coluna

---

** ESTA EXCLUSÃO DE VALORES SÓ SERÁ INCORPORADA À MATRIZ ORIGINAL SE FIZERMOS USO DO PARÂMETRO: **

** inplace = True**

---

In [15]:
#apagando coluna -- axis= 1
#nao altera o DataFrame original

df.drop('new',axis=1)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [16]:
# Porém, tal exclusão só ocorrerá se especificada no parâmetro inplace

df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [17]:
#utilizando-se o inplace, a alteracao e permanente
#cuidado!

df.drop('new',axis=1,inplace=True)

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Também podemos deletar linhas com o drop:
    
    axis= 0

In [18]:
df.drop('E',axis=0)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

** Selecionando linhas: **
    
    Função .loc['rótulo/label linha']['rótulo/label coluna']
      localiza por label ou rótulo das linhas ou colunas
    
    Função .iloc['rótulo/label linha']['rótulo/label coluna']
      localiza por índice da linha/entrada ou coluna/atributo

In [26]:
df.loc['A']

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

In [27]:
#loc para colunas e linhas
#um valor especifico

df.loc['A']['W']

0.3026654485851825

Ou selecione com base na posição em vez do rótulo

In [28]:
df.iloc[2]

W    0.807706
X    0.072960
Y    0.638787
Z    0.329646
Name: C, dtype: float64

** Selecionando o subconjunto de linhas e colunas **

In [30]:
#uma forma mais pratica, emais utilizada
#e passar os argumentos como uma lista, 
#a primeira posicao esta relacionada a linha e a segunda a coluna

df.loc['B','Y']

0.16690463609281317

In [31]:
#pode se passar uma lista de colunas e linhas como argumento
#para se criar um novo DataFrame filtrado


df.loc[['A','B'],['W','Y']]

          W         Y
A  0.302665 -1.706086
B -0.134841  0.166905

### Seleção condicional

Uma característica importante dos pandas é a seleção condicional usando notação de colchetes, muito semelhante ao numpy:

Aqui aparece o importante conceito de máscaras, sua criação a partir de sentença lógica, e o seu uso como um argumento de seleção do DataFrame.

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [34]:
#A mascara e uma matriz ou coluna que contem valores logicos
#Ela dira quais os valores serao acessados
#quando utilizada como argumento do DataFrame


#criando a mascara
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [35]:
#acessando os valores onde a mascara tem valor True:

df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [37]:
#Criando uma mascara para uma coluna
#ela selecionara as linhas onde o valor da mascara e True

df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [38]:
#se a usarmos como argumento ele filtrara o DataFrame

df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [39]:
#O resultado da operacao acima e um DataFrame
#Podemos utilizar as mesmas ferramentas de selecao
#da mesma forma que utilizamos para um DataFrame

#selecionando uma coluna
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [40]:
#selecionando duas colunas

df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

Para duas condições, você pode usar | e & com parênteses:

In [ ]:
df[(df['W']>0) & (df['Y'] > 1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

## Mais Detalhes do Índice

Vamos discutir mais alguns recursos de indexação, incluindo resetar o índice ou configurá-lo de outra forma. Também falaremos sobre hierarquia de índice!

In [44]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [45]:
# Redefinir para o padrão 0,1 ... n índice
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [47]:
novoind = 'CA NY WY OR CO'.split()
df['Estados'] = novoind
df

          W         X         Y         Z Estados
A  2.706850  0.628133  0.907969  0.503826      CA
B  0.651118 -0.319318 -0.848077  0.605965      NY
C -2.018168  0.740122  0.528813 -0.589001      WY
D  0.188695 -0.758872 -0.933237  0.955057      OR
E  0.190794  1.978757  2.605967  0.683509      CO

In [48]:
df.set_index('Estados')

                W         X         Y         Z
Estados
CA       2.706850  0.628133  0.907969  0.503826
NY       0.651118 -0.319318 -0.848077  0.605965
WY      -2.018168  0.740122  0.528813 -0.589001
OR       0.188695 -0.758872 -0.933237  0.955057
CO       0.190794  1.978757  2.605967  0.683509

In [49]:
df

          W         X         Y         Z Estados
A  2.706850  0.628133  0.907969  0.503826      CA
B  0.651118 -0.319318 -0.848077  0.605965      NY
C -2.018168  0.740122  0.528813 -0.589001      WY
D  0.188695 -0.758872 -0.933237  0.955057      OR
E  0.190794  1.978757  2.605967  0.683509      CO

In [50]:
df.set_index('Estados',inplace=True)
df

                W         X         Y         Z
Estados
CA       2.706850  0.628133  0.907969  0.503826
NY       0.651118 -0.319318 -0.848077  0.605965
WY      -2.018168  0.740122  0.528813 -0.589001
OR       0.188695 -0.758872 -0.933237  0.955057
CO       0.190794  1.978757  2.605967  0.683509

## Hierarquia de índices e índices múltiplos

Vamos examinar como trabalhar com o Multi-Index, primeiro criaremos um exemplo rápido de como seria um DataFrame Multi-Indexado:

In [ ]:
# Níveis de Índice
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [ ]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

Agora vamos mostrar como indexar isso! Para a hierarquia de índice, usamos df.loc []. Se este fosse no eixo das colunas, você usaria a notação de suporte normal df []. Chamar um nível do índice retorna um sub-dataframe:

In [ ]:
df.loc['G1']

          A         B
1  0.302665  1.693723
2 -1.706086 -1.159119
3 -0.134841  0.390528

In [ ]:
df.loc['G1'].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [ ]:
df.index.names

FrozenList([None, None])

In [ ]:
df.index.names = ['Grupo','Número']

In [ ]:
df

                     A         B
Grupo Número
G1    1       0.302665  1.693723
      2      -1.706086 -1.159119
      3      -0.134841  0.390528
G2    1       0.166905  0.184502
      2       0.807706  0.072960
      3       0.638787  0.329646

In [ ]:
df.xs('G1')

               A         B
Número
1       0.302665  1.693723
2      -1.706086 -1.159119
3      -0.134841  0.390528

In [ ]:
df.xs(['G1',1])

A    0.302665
B    1.693723
Name: (G1, 1), dtype: float64

In [ ]:
df.xs(1,level='Número')

              A         B
Grupo
G1     0.302665  1.693723
G2     0.166905  0.184502